.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1300px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0rem 1rem;
}

.logo {
  font-size: 2rem;
}

.burgerMenu {
  cursor: pointer;
}

.burgerBar1,
.burgerBar2 {
  width: 5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transition: all 300ms ease;
}

.burgerBar1Rotate {
  width: 2.5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transform: rotate(-45deg) translate(0px, 14px);
  transition: all 300ms ease;
}

.burgerBar2Rotate {
  width: 2.5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transform: rotate(45deg) translate(0px, -14px);
  transition: all 300ms ease;
}

.fixedEmail {
  position: fixed;
  right: 10px;
  top: 40%;
  transform: rotate(90deg);
  font-size: 1.2rem;
  cursor: pointer;
}

.aLink {
  text-decoration: none;
  outline: none;
  color: #222;
}

@media (max-width: 1300px) {
  .fixedEmail {
    right: -50px;
  }
}
