.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1300px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0rem 1rem;
}

.logo {
  font-size: 2rem;
  cursor: pointer;
}

.burgerMenu {
  cursor: pointer;
}

.burgerBar1,
.burgerBar2 {
  width: 5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transition: all 300ms ease;
}

.burgerBar1Rotate {
  width: 2.5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transform: rotate(-45deg) translate(0px, 14px);
  transition: all 300ms ease;
}

.burgerBar2Rotate {
  width: 2.5rem;
  height: 0.1875rem;
  background: #222;
  margin: 1rem;
  transform: rotate(45deg) translate(0px, -14px);
  transition: all 300ms ease;
}

.fixedEmail {
  position: fixed;
  right: 10px;
  top: 40%;
  transform: rotate(90deg);
  font-size: 1.2rem;
  cursor: pointer;
}

.aLink {
  text-decoration: none;
  outline: none;
  color: #222;
  transition: all 200ms ease-in;
}

.aLink:hover {
  color: #fdcd28;
}

/* === MENU MODAL === */
.modalContainer {
  background: #fff;
  box-shadow: 10px 10px 20px #ddd;
  max-width: 700px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99999;
  margin: auto;
}

.closeIcon {
  font-size: 2rem;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.menuHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;
  height: 70%;
  z-index: 300;
}

.menuText {
  font-size: 2.5rem;
  color: #777;
  cursor: pointer;
  transition: all 300ms ease;
}

.menuText:hover {
  color: #333;
}

@media (max-width: 1300px) {
  .fixedEmail {
    right: -50px;
  }
}

/* === MEDIA QUERIES === */
@media (max-width: 750px) {
  .logo {
    font-size: 1.5rem;
  }

  .header {
    height: 7vh;
    background: #fff;
    z-index: 9999;
  }

  .fixedEmail {
    display: none;
  }

  .burgerBar1,
  .burgerBar2 {
    width: 3rem;
    height: 0.1875rem;
    margin: 0.8rem;
  }
}

@media (max-width: 600px) {
  .modalContainer {
    background: #fff;
    box-shadow: 10px 10px 20px #ddd;
    max-width: 700px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
    margin: auto;
  }

  .menuText {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .burgerBar1,
  .burgerBar2 {
    width: 2.5rem;
    height: 0.1875rem;
    margin: 0.6rem;
  }
}
