.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-width: 1300px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0rem 1rem;
}

.logo {
    font-size: 2rem;
}

.burgerMenu {
    cursor: pointer;
}

.burgerBar {
    width: 4rem;
    height: 0.1875rem;
    background: #222;
    margin: 1rem;
}

.fixedEmail {
    position: fixed;
    right: 10px;
    top: 40%;
    transform: rotate(90deg);
    font-size: 1.2rem;
    cursor: pointer;
}

.a {
    text-decoration: none;
    outline: none;
    color: #222;
}

@media (max-width: 1300px) {
    .fixedEmail {
        right: -50px;
    }
}